
 .root{
   -fx-background-color:#013220;
-fx-border-width:5px;
-fx-border-color:blue;

}





.label {
-fx-text-fill:WHITE;
-fx-font-size:30px;
-fx-font-weight:bold;
  -fx-background-color:BLUE;
}


.text-field {
-fx-text-fill:WHITE;
-fx-font-size:30px;
-fx-font-weight:bold;
  -fx-background-color:BLUE;
}


    .button{
           -fx-font-size: 16px;
          -fx-text-fill:gray;
          -fx-text-fill:BLACK;
           -fx-font-weight:bold;

    }

        .button:hover{
         -fx-text-fill:WHITE;
           -fx-font-size:16px;
             -fx-font-weight:bold;
            -fx-background-color:BLUE;
        }




  .glyph-icon {
     -fx-fill:Blue;
    }



#aesomeUp
 {
  -fx-fill:gray;
}

#aesomeCan
 {
  -fx-fill:gray;
}

#dateP
 {
  -fx-fill:blue;
  -fx-background-color:transparent;
       -fx-font-size:20px;
             -fx-font-weight:bold;
}




.button:hover > #aesomeUp
 {
  -fx-fill:red;
}

.button:hover > #aesomeCan
 {
  -fx-fill:red;
}




