
 .root{
   -fx-background-color:#013220;
-fx-border-width:5px;
-fx-border-color:blue;

     }



.text-field {
-fx-text-fill:Black;
-fx-font-size:20px;
-fx-font-weight:bold;
}


    .button{
           -fx-font-size: 16px;
          -fx-text-fill:gray;

           -fx-font-weight:bold;
          -fx-background-color:black;
          }

        .button:hover{
         -fx-text-fill:blue;
           -fx-font-size:20px;
             -fx-font-weight:bold;
          
        }




  .glyph-icon {
     -fx-fill:Blue;
    }





